$navbar-default-bg: black;

@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.color-search-btn {
	color: #fff;
	border-color: #33CDFF;
}

.color-search-btn:hover {
	color: #fff;
	background-color: #33CDFF;
	border-color: #33CDFF;
}


.jumbotron {
	background-image: asset-url('cover-image.jpg');
	background-size: cover;
	height: 500px;
}

.jumbotron h1, h3 {
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
	letter-spacing: -1px;
}

.jumbotron p {
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
	letter-spacing: -1px;
}


.btn-xlarge {
	background-color: #FF9B35;
	border-color: #FF9B35;
}

.btn-xlarge:hover {
	background-color: #B16313;
	border-color: #B16313;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #dee4ed;
  margin-top: 30px;
}

footer p {
  margin-bottom: .25rem;
}

.card a {
	color: #33CDFF;
}

.t1 {
	border: solid 1px black;
}

.t2 {
	border: solid 2px #0061ff;
}

.t3 {
	border: solid 3px #ff0000;
}
/*
.t4 {
	border: solid 4px #15ff00;
}

.t5 {
	border: solid 1px black;
}

.t6 {
	border: solid 1px black;
}*/

.chef_info {
	margin-bottom: -20px;
}

.center_chef_img {
	margin-top: 5px;
}

.colormatch a {
	color: #FF9B35;
}

.recipe-actions a {
	color: #fff;
}





